/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "UKIJ Kesme";
  src: url("./fonts/UKIJKesme.eot"); /* IE9 Compat Modes */
  src: url("./fonts/UKIJKesme.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/UKIJKesme.otf") format("opentype"), /* Open Type Font */
    url("./fonts/UKIJKesme.svg") format("svg"), /* Legacy iOS */
    url("./fonts/UKIJKesme.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/UKIJKesme.woff") format("woff"), /* Modern Browsers */
    url("./fonts/UKIJKesme.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.UKIJKesme {
  font-family: "UKIJ Kesme";
  font-size: 30px;
}