/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "UKIJTuzJurnal";
  src: url("./fonts/UKIJTuzJ.eot"); /* IE9 Compat Modes */
  src: url("./fonts/UKIJTuzJ.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/UKIJTuzJ.otf") format("opentype"), /* Open Type Font */
    url("./fonts/UKIJTuzJ.svg") format("svg"), /* Legacy iOS */
    url("./fonts/UKIJTuzJ.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/UKIJTuzJ.woff") format("woff"), /* Modern Browsers */
    url("./fonts/UKIJTuzJ.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}