/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "UKIJ Tuz Tor";
  src: url("./fonts/UKIJTzTr.eot"); /* IE9 Compat Modes */
  src: url("./fonts/UKIJTzTr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/UKIJTzTr.otf") format("opentype"), /* Open Type Font */
    url("./fonts/UKIJTzTr.svg") format("svg"), /* Legacy iOS */
    url("./fonts/UKIJTzTr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/UKIJTzTr.woff") format("woff"), /* Modern Browsers */
    url("./fonts/UKIJTzTr.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.UKIJTuzTor {
  font-family: "UKIJ Tuz Tor";
  font-size: 30px;
}